html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.nav-avatar-bg {
    position: relative;
    float: left;
    margin-right: 10px;
    margin-top: -5px;
    width: 32px;
    height: 32px;
    background: #fff;
}

.navigation-avatar {
    max-width: 32px;
    max-height: 32px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.avatar-selection-div {
    max-width: 192px;
    max-height: 192px;
    border:  1px solid #ccc;
}

div.height-5 {
    height: 5px;
}
div.height-10 {
    height: 10px;
}
div.height-20 {
    height: 20px;
}

.cs-input-row {
	position: relative;
}
.cs-input-row label.cs-input-label-default {
	position: absolute;
	top: 0px;
	font-weight: normal;
	color: #bbbbbb;
	background: none;
	padding: 7px;
	left: 10px;
	margin-left: -4px;
	font-size: 1em;
	
	transition: all .2s ease-in
}

.cs-input-row label.cs-input-label-active {
	position: absolute;
	top: -6px;
	font-weight: normal;
	background: #ffffff;
	color: #000000;
	font-size: 0.7em;
	padding-left: 3px;
	padding-right: 3px;
	left: 10px;
	
	transition: all .2s ease-in
}